<?xml version="1.0"?>
<!--
/**
 * @author DCKAP Team
 * @copyright Copyright (c) 2017 DCKAP (https://www.dckap.com)
 * @package Dckap_Categorywidget
 *
 * Copyright © 2017 DCKAP. All rights reserved.
 *
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="DCKAP_Categorywidget" setup_version="1.0.0"></module>
</config>