<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
   <default>
      <dckapextension>
         <BitExpert_ForceCustomerLogin>
            <is_b2c>0</is_b2c>
         </BitExpert_ForceCustomerLogin>
      </dckapextension>
   </default>
</config>