<?xml version="1.0"?>
<!--
/**
 * @category   Dckap
 * @package    Dckap_StorePickup
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <carriers>
            <ddistorepickup>
                <active>0</active>
                <sallowspecific>0</sallowspecific>
                <price>0</price>
                <model>Dckap\StorePickup\Model\Carrier\StorePickup</model>
                <name>Fixed</name>
                <title>Store Pickup</title>
                <specificerrmsg>This shipping method is not available. To use this shipping method, please contact us.</specificerrmsg>
            </ddistorepickup>
        </carriers>
    </default>
</config>