<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="clorasbase">
            <tab>cloras</tab>
            <label>Integration</label>
            <resource>Magento_Config::config</resource>
            <group id="api" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Api Configuration</label>
                <field id="list" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Api List</label>
                    <frontend_model>Cloras\DDI\Block\Adminhtml\System\Config\Form\Field\ApiList</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                    <comment>Here add services from Cloras</comment>
                </field>
            </group>
            <!-- Lamda services handled cloras itself -->
            <!--<group id="lamda" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Lamda Configuration</label>
                <field id="list" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Lamda Api List</label>
                    <frontend_model>Cloras\DDI\Block\Adminhtml\System\Config\Form\Field\LamdaApiList</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                    <comment>Here add services from Cloras Lamda</comment>
                </field>
            </group>-->
        </section>
    </system>
</config>