<!--@subject {{trans "%subject" subject=$subject}}  @-->
<!--@vars {
"var order.getCustomerName()":"Customer Name",
"var store.getFrontendName()":"Customer Name",
"var is_pickup_order":"Check if order is a pickup order",
"var $this.getUrl($store,'customer/account/',[_nosid:1]) |raw":"Gets the link to the Customer Account",
"var store_email |raw":"Defined Email Address for this type of mails",
"var store_phone |raw":"Defined Phone Number in the Store Information",
"var store_hours |raw":"Defined Opening Hours Phone Number in the Store Information",
"var order.increment_id |raw":"Order Id",
"var order.getCreatedAtFormatted(2) |raw":"Get the date of order creation",
"var order.getEmailCustomerNote()":"Email Order Note",
"var formattedBillingAddress|raw":"Billing Address",
"var order.getIsNotVirtual()":"Check if shipment exists",
"var pickupAddress|raw":"Pickup Location Address",
"var formattedShippingAddress|raw":"Customer Shipping Address",
"var payment_html|raw":"Payment Details",
"var order.getShippingDescription()":"Shipping Description",
"var shipping_msg":"Shipping message",
"layout handle=\"sales_email_order_items\" order=$order area=\"frontend\"":"Order Items Grid"
} @-->

{{template config_path="design/email/header_template"}}

<table>
    <tr class="email-intro">
        <td>
            <p class="greeting">Hi {{trans "%customer_name," customer_name=$customer_name}}</p>
            <p>
                Your order update request has been submitted. You can check the status of your request by logging into your account and reviewing “Submitted Orders” under the  “My Account” page.
                Your old Order Reference  # {{var oldOrderIncrementId }} .
            </p>
            <p>
                Please note: Freight and other charges may apply. Prices may be updated during the approval process.
            </p>
        </td>
    </tr>
    <tr class="email-summary">
        <td>
            <h1>{{trans 'Your Modified Order Reference <span class="no-link">#%increment_id</span>' increment_id=$order.increment_id |raw}}</h1>
            <p>{{trans 'Placed on <span class="no-link">%created_at</span>' created_at=$order.getCreatedAtFormatted(2) |raw}}</p>
        </td>
    </tr>
    <tr class="email-information">
        <td>
            {{depend order.getEmailCustomerNote()}}
            <table class="message-info">
                <tr>
                    <td>
                        {{var order.getEmailCustomerNote()|escape|nl2br}}
                    </td>
                </tr>
            </table>
            {{/depend}}
            <table class="order-details">
                <tr>
                    {{depend order.getIsNotVirtual()}}
                    <td class="address-details">
                        <h3>{{trans "Shipping Info"}}</h3>
                        <p>
                            <span>{{var name }}</span><br>
                            <span>{{var company }}</span><br>
                            <span>{{var street }}</span><br>
                            <span>{{var city }}</span><br>
                            <span>{{var country }}</span><br>
                            <span>{{var telephone }}</span><br>
                        </p>
                        <h3>{{trans "Shipping Method"}}</h3>
                        <!--<p>{{var order.getShippingDescription()}}</p>-->
                        {{var shipping_method_info}}
                        {{if shipping_msg}}
                        <p>{{var shipping_msg}}</p>
                        {{/if}}
                    </td>
                    <td class="method-info">
                        <h3>{{trans "Billing Info"}}</h3>
                        <p>
                            <span>{{var bname }}</span><br>
                            <span>{{var bcompany }}</span><br>
                            <span>{{var bstreet }}</span><br>
                            <span>{{var bcity }}</span><br>
                            <span>{{var bcountry }}</span><br>
                            <span>{{var btelephone }}</span><br>
                        </p>
                    </td>
                    {{/depend}}
                </tr>
                <tr>
                    <td class="method-info">
                        <h3>{{trans "PO Number"}}</h3>
                        <p>{{var po }}</p>
                        <h3>{{trans "Order Status"}}</h3>
                        <p>{{var status }}</p>
                    </td>
                    <td class="method-info">
                        <h3>{{trans "Ordered By"}}</h3>
                        <p>{{var customer_name }}</p>
                    </td>
                </tr>
            </table>
            {{layout handle="sales_email_order_items" order=$order area="frontend"}}
        </td>
    </tr>
</table>

{{template config_path="design/email/footer_template"}}
