<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<type name="Magento\Checkout\Model\ShippingInformationManagement">
    	<plugin name="ddi_delivery_information" type="Dckap\ShippingAdditionalFields\Plugin\Quote\ContactInfoQuoteSave" sortOrder="10" disabled="false"/>
    </type>
</config>